@import '../module';

.btnDefault{
    // width: 100%;
    width: auto;
    border-radius: .25rem;
    display: inline-block;
    text-align: center;
    padding: .375rem .75rem;
    color: $whiteColor;
    cursor: pointer;
    font-size: .9rem;
    font-family: $fontFamily;
    border: 0;
    background-color: $primaryColor;
}

.btnDefault:disabled{
    opacity: 0.4;
}