//Font
$fontFamily: 'Montserrat';

//colors
$primaryColor: #2e4a9fe6;
$secondaryColor: #000000;
$accentColor: #000000;

$textPrimaryColor: #000000;
$textSecondaryColor: #000000;
$textHintColor: #daa3a3;
$borderColor: #dedede; 
$textMuted: #979797;


$whiteColor: #ffffff;

//medidas
$gutter: 2%;
$gutter2: 4%;


$colorGreen: #569e27;